{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- navbar section -->
    <nav id="navbar" class="flex s-around bg-color">
      <div class="left-nav">
        <h2 class="t-white">Portfolio</h2>
      </div>
      <div class="right-nav">
        <ul>
          <li><a href="#home" class="t-white roboto">Home</a></li>
          <li><a href="#about" class="t-white roboto">About Me</a></li>
          <li><a href="#skills" class="t-white roboto">Skills</a></li>
          <li><a href="#projects" class="t-white roboto">Projects</a></li>
          <li>
            <a href="#testimonials" class="t-white roboto">Testimonials</a>
          </li>
          <li><a href="#contacts" class="t-white roboto">Contact</a></li>
          <h1>hi there</h1>
    
      </div>
    </nav>

<!-- home section -->
   \<section id="home" class="flex s-around sw-80 m-auto">
    <div class="home-left flext items-center">
        <div class="home-content">
      <h6 class="popinss">Hi, I'm</h6>
      <h1 class="t-white">Krishna Khadka</h1>
      <h4 class="popinss">Video and Photo Editor</h4>
      <a href="{% static 'pdf/git.pdf' %}"target="blank">
        <button class="btn popinss">Download Resume</button>
     </a>
     <a class="btn live popinss" id="hireme" href=""
     target="blank">Lets Connect</a> </div>
    </div>
    <div class="home-right flex s-center items-center">
      <div class="circle flex s-center items-center" id="mainImage">
        <img src="{% static 'images/profile.png' %}" alt="picture" />
      </div>
    </div>

<!--about section-->
<section id="about">
    <h1 class="t-center my-2 t-white f-2">About Me <Menu></Menu></h1>
    <div class="about-content flex s-around">
        <div class="about-left flex s-center items-center">
            <img src="{% static 'images/editing.png' %}" alt="editing image">
        </div>
        </div>

        <div class="about-right">
            <h1 class="t-white m-b-1 popinss">Kirshna Khadka</h1>
            <p class="t-white m-b-1 popinss">I am a passionate video and photo editor with a keen eye for detail and a love for storytelling through visual media. With years of experience in editing software and a strong understanding of visual aesthetics, I strive to create compelling content that resonates with audiences.</p>
            <a href="btn" id="hireme" href="">Hire Me</a>

            <!--skills section-->
            <section id="skills">
                <h1 class="t-center my-2 t-white f-2">Skills</h1>
                <div class="services-centainer flex s-around h-50">
                    <div class="skills-left flex s-center items-center">
                        <img src="{% static 'images/skills.png' %}" alt="skills image">
                    </div>
                    <div class="skills-right flex items-center"></div>
                   <div class="skills-container">

    <div class="canva bar p-relative">
        <span class="bar-content left t-white">Canva</span>
        <span class="bar-content right-skills t-white">90%</span>
    </div>

    <div class="premiere bar p-relative">
        <span class="bar-content left t-white">Premiere Pro</span>
        <span class="bar-content right-skills t-white">80%</span>
    </div>

    <div class="photoshop bar p-relative">
        <span class="bar-content left t-white">Photoshop</span>
        <span class="bar-content right-skills t-white">85%</span>
    </div>

    <div class="figma bar p-relative">
        <span class="bar-content left t-white">Figma</span>
        <span class="bar-content right-skills t-white">90%</span>
    </div>

    <div class="davinci bar p-relative">
        <span class="bar-content left t-white">DaVinci Resolve</span>
        <span class="bar-content right-skills t-white">75%</span>
    </div>

    <div class="capcut bar p-relative">
        <span class="bar-content left t-white">CapCut</span>
        <span class="bar-content right-skills t-white">90%</span>
    </div>

    <div class="aftereffects bar p-relative">
        <span class="bar-content left t-white">After Effects</span>
        <span class="bar-content right-skills t-white">70%</span>
    </div>

</div>
                    
            </section>

            
            
  </body>
</html>
